{% if collection is not defined or collection|length %}
    <table class="table {{ classes is not defined ? 'table-striped table-hover' : classes }}">
        {% block thead %}
            <thead>
            <tr>
                {% block ths %}
                {% endblock ths %}
            </tr>
            </thead>
        {% endblock thead %}

        {% block tbody %}
        {% endblock tbody %}

        {% block tfooter %}
            {% if collection.pages|default(false) %}
            <tfoot>
            <tr>
                <td colspan="20">
                {% include '@SfsAdmin/components/pager.html.twig' with {'collection':collection, 'pagination_route': pagination_route|default(false)} %}
                </td>
            </tr>
            </tfoot>
            {% endif %}
        {% endblock tfooter %}
    </table>
{% else %}
    {% block empty %}
        <div class="p-5 m-5">
            <p class="text-center text-muted">The list is empty</p>
        </div>
    {% endblock empty %}
{% endif %}

